.body {
  color: #757575;
  line-height: 1, 71;
  font-size: 14pm;
  letter-spacing: 0, 03em;

}


ul {
  list-style-type: none;
}
li {
  display: inline-block;
}
.line {
  display: table;
  
}
.logo {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
  letter-spacing: 0.03em;

  color: #2196f3;
}
.logo-dark {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}
.logo-light {
  color: #ffffff;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section-title {
  font-size: 14px;
}

.fuatures-text {
  width: 270px;
  height: 75px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;

  color: #757575;
}


.team-section {
  background-color: #f5f4fa;
}
.photo-team {
  width: 270px;
  height: 260px;
}
.photo-gadget {
  width: 370px;
  height: 294px;
}
.photo-fone {
  width: 270px;
  height: 368px;
  left: 1115px;
  top: 1635px;

  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.solutions {
  background-color: #2f303a;
  height: 600px;
  left: 0px;
  top: 80px;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.info {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;
  background: #2f303a;
 
}
address {
    text-decoration: none;
}